@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    --main-bg-color: #a5c8f8;
    --font1: "Lora", serif;
    --font2: "Roboto", sans-serif;
}
.font1{
    font-family: var(--font1);
}
.font2{
    font-family: var(--font2);
}

.max-width-1 {
  max-width: 80vw;
}

.max-width-2 {
  max-width: 60vw;
}

.m-auto {
  margin: auto;
}
.my-2{
    margin-bottom: 25px;
    margin-top: 25px;
}
.btn{
    padding: 0 15px;
    border: 1px solid black;
    border-radius: 6px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-family: var(--font1);
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in;
}
.btn:hover{
    color: white;
    background: var(--main-bg-color);
}
.form-input {
    padding: 3px 5px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 4px;
    margin: 0 12px;
    font-family: var(--font1);
}
.mx-1{
    margin-left: 23px;
    margin-right: 23px;
}
.form-box input, textarea {
    width: 38vw;
    padding: 5px 7px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 7px 0;
    font-size: 14px;
    font-family: system-ui;
}
.t-center{
    text-align: center;
}

